<div class='main users-edit'>
  <div class='edit-elements'>
    <div class='form-heading'>アカウント編集</div>
    <div class='col-md-3 col-sm-4 col-xs-12'>
      <div class='post-elements'>
       <div class='post-element'>
        <div class='profile-account'>
          <!-- #TODO: イメージ画像は仮です -->
          <img src="/user_images/sky.jpg">
          <h4 class=user-name><"<%= @user.name %>"></h4>
          <div class="btn-group-vertical" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark">
              <%= link_to('投稿写真一覧',"/users/#{@user.id}") %>
            </button>
            <button type="button" class="btn btn-outline-dark">
              <%= link_to('いいね！した数',"/users/#{@user.id}/likes_photos") %>
            </button>
            <button type="button" class="btn btn-outline-dark">
              <%= link_to('新規投稿',"/photos/new") %>
            </button>
          </div>
        </div>
       </div>
      </div>
    </div>
    <!-- 下記のコードだとまだuser指定が出来てません -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to 'プロフィール', {:controller => "users", :action => "edit"}, {:class => "nav-link"} %>
      </li>
      <li class="nav-item">
        <%= link_to 'パスワード変更', {:controller => "users", :action => "edit"}, {:class => "nav-link"} %>
      </li>
      <li class="nav-item">
        <%= link_to '退会', {:controller => "users", :action => "edit"}, {:class => "nav-link"} %>
      </li>
    </ul>
    
    <!-- #TODO: プロフィール -->
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">ユーザー名</label>
        <input type="text" class="form-control" id="formGroupExampleInput">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">プロフィール画像</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <button type="button" class="btn btn-primary">更新</button>
    </form>
  </div>
</div>