<div class='users-edit'>
  <% if @error_message %>
    <p class="alert alert-danger" role="alert">
      <%= @error_message %>
    </p>
  <% end %>
  <div class='mt-5 mx-5'>
    <div class='user-edit-elements container'>
      <h4 class='border-bottom'>アカウント編集</h4>
      <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
          <%= link_to "#{@user.name}さんの投稿写真一覧", "/users/#{@user.id}", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "いいね！した写真一覧", "/users/#{@user.id}/likes_photos", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <% if @user.id == @current_user.id %>
            <%= link_to "アカウント編集", "/users/#{@user.id}/edit", class: "nav-link" %>
          <% end %>
        </li>
      </ul>
        <!-- TODO: 画像の大きさをCSSで調整する（四角にする） -->
      <div class='user-edit-place mt-3'>
        <div class='profile-image-box'>
          <div class='row'>
            <div class="card-deck">
              <div class="col-lg-3">
                <div class="card img-thumbnail">
                  <% if @user.profile_image.blank? %>
                    <%= image_tag "/user_images/default_user.jpg" %>
                  <% else %>
                    <%= image_tag @user.profile_image.url %>
                  <% end %>
                  <div class="card-body text-center">
                    <h4 class="card-title text-center"><%= @user.name %></h4>
                  </div>
                </div>
              </div>
              <!-- TODO: 時間あればcardの長さを左側と揃える（長さを下に伸ばす） -->
              <div class="user-edit-box col-lg-9">
                <div class="card img-thumbnail">
                  <div class="card-title">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <%= link_to 'プロフィール', {:controller => "users", :action => "edit"}, {:class => "nav-link"} %>
                      </li>
                      <li class="nav-item">
                        <%= link_to '退会', {:controller => "users", :action => "destroy_form"}, {:class => "nav-link"} %>
                      </li>
                    </ul>
                  </div>
                  <div class="card-text">
                    <%= form_for (@user) do |u| %>
                      <div class="form-group mt-2">
                        <%= u.label :name, 'ユーザー名' %>
                        <%= u.text_field :name, class: 'form-control' %>
                      </div>
                      <div class="form-group mt-4">
                        <%= u.label :password, '新しいパスワード' %>
                        <%= u.password_field :password, class: 'form-control' %>
                      </div>
                      <div class="form-group mt-4">
                        <%= u.label 'もう一度パスワードを入力して下さい' %>
                        <%= u.password_field :password_confirmation, class: "form-control" %>
                      </div>
                      <div class="form-group my-5">
                        <%= u.label :profile_image, 'プロフィール画像' %>
                        <%= u.file_field :profile_image %>
                      </div>
                      <%= u.submit :class => " mt-5 btn btn-primary btn-block" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
