<div class='main users-login_form'>
  <div class='mt-5 mx-5'>
    <div class='user-login-elements container'>
      <h4 class='border-bottom'>ユーザーログイン</h4>
      <div class='users-login-box'>
        <% if @error_message %>
          <div class='form_error'>
            <div class="alert alert-danger" role="alert">
              <%= @error_message %>
            </div>
          </div>
        <% end %>
        <%= form_for(:user, url: login_path) do |f| %>
          <%= f.label 'ユーザー名' %>
          <%= f.text_field :name, class: "form-control" %>
          <%= f.label 'パスワード' %>
          <%= f.password_field :password, class: "form-control" %>
          <br>
          <%= f.submit 'ログイン', class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>