<div class='main users-new_form'>
  <div class='user-new-elements'>
    <h3 class='border-bottom'>ユーザー新規登録</h3>
    <% @user.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <% end %>
    <div class='users-NewConnections-box'>
      <%= form_for(:user, url: users_path) do |f| %>
        <%= f.label 'ユーザー名' %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
        <%= f.label 'もう一度パスワードを入力して下さい' %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
        <br>
        <%= f.submit '新規登録', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

