<div class='users-show'>
  <div class='elements'>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="#!"><%= "#{@user.name}さんの投稿写真一覧" %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!">いいね！した数</a>
      </li>
    </ul>
  </div>

  <div class="user-photo" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= "#{@photo.title}" %></h5>
      <!-- ５行目にユーザー名あるので１８行目いらないかもしれません -->
      <a class="photo-user"><%= "#{@user.name}" %></a>
      <div class='photo-rgb'><%= "RGB設定　#{@photo.rgb}" %></div>
      <div class='photo-tag'><%= "#{tag.name}" %></div>
      <span class="fa fa-heart">いいねハートアイコン</span>
    </div>
  </div>
</div>