<div class='user-show'>
  <div class='show-elements'>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to "#{@user.name}さんの投稿写真一覧", "/users/#{@user.id}", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "いいね！した写真一覧", "/users/#{@user.id}/likes_photos", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <% if @user.id == @current_user.id %>
          <%= link_to "アカウント編集", "/users/#{@user.id}/edit", class: "nav-link" %>
        <% end %>
      </li>
    </ul>
    <!-- TODO: cardサイズはphoto.indexでgem導入済み、マージ後再度試す -->
    <div class='card-deck'>
      <% @user_posted_photos.each do |p| %>
        <div class='card-deck'>
          <div class='card'>
            <%= link_to "/photos/#{p.id}" do %>
              <%= image_tag p.image.thumb.url %>
            <% end %>
            <h4 class='card-title'><%= p.title %></h4>
            <P class='card-text'><%= p.user.name %></P>
            <P class='card-text'><%= p.photo_comment %></P>
            <P class='card-text'><%= p.rgb %></P>
            <!-- TODO: N+1問題 -->
              <% p.tags.each do |tag| %>
                <P class='card-text'><%= tag.name %></P>
              <% end %>
            <div td align="right">
              <%= fa_icon 'heart' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>