<div class="about-main">
  <div class="about-elements">
    <div class="top-wrapper">
      <div class="jumbotron jumbotron-fluid bg-info text-white">
        <div class="container">
          <h1 class="display-3">レインボーフィッシュへようこそ</h1>
          <br>
          <p class="lead text-center">このサイトは、トイカメラ「レインボーフィッシュ」で撮影した写真の投稿サイトです。</p>
        </div>
      </div>
    </div>
    <!-- TODO: margin-top指定したいが、CSS効かない -->
    <div class="message-wrapper text-center margin-top">
      <h2>このサイトの使い方</h2>
      <br>
      <p class="border-bottom"></p>
      <div class="card-deck">
        <div class="card border border-0 bg-light">
          <div class="card-body">
            <p class="card-text">撮影した写真が投稿出来ます</p>
          </div>
          <div class="text-center text-danger">
             <i class="fa fa-camera-retro fa-5x"></i>
          </div>
        </div>
        <div class="card border border-0 bg-light">
          <div class="card-body">
            <p class="card-text">撮影した写真を共有出来ます</p>
          </div>
          <div class="text-center text-success">
            <i class="fa fa-group fa-5x"></i>
          </div>
        </div>
        <div class="card border border-0 bg-light">
          <div class="card-body">
            <p class="card-text">RGB設定の参考に使って下さい</p>
          </div>
          <div class="text-center text-primary">
            <i class="fa fa-search fa-5x"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- TODO: margin-top指定したいが、CSS効かない -->
    <div class="main-wrapper text-center">
      <h2>RGB設定とは？</h2>
      <br>
      <p class="border-bottom"></p>
      <br>
      <h5>レインボーフィッシュ最大の魅力！</h5>
      <br>
      <h5>R（赤）、G（緑）、B（青）各色調を手動で１０段階に調整出来る。</h5>
      <br>
      <h5>よりオリジナリティのある写真が楽しめます！</h5>
    </div>

    <!-- TODO: cardsizeが反映しないので直接入力したが、画面を小さくするとバランスが崩れる -->
    <!-- TODO: margin-top指定したいが、CSS効かない -->
    <div class="bottom-wrapper text-center margin-top">
      <h2>RGB設定をするとこんな写真が撮れます</h2>
      <br>
      <p class="border-bottom"></p>
      <br>
      <div class="photo-rgb-image text-center">
        <div class="card-deck">
          <div class="card bg-light border border-0">
            <div class="text-center">
              <%= image_tag ("/home_images/ICAM3.jpg"), :size => "400x300" %>
            </div>
            <div class="card-body">
              <h4 class="card-title">R6 G5 B2</h4>
            </div>
          </div>
          <div class="card bg-light border border-0">
            <div class="text-center">
              <%= image_tag ("/home_images/ICAM1.jpg"), :size => "400x300" %>
            </div>
            <div class="card-body">
              <h4 class="card-title">R9 G5</h4>
            </div>
          </div>
        </div>
        <br>
        <div class="card-deck">
          <div class="card bg-light border border-0">
            <div class="text-center">
              <%= image_tag ("/home_images/ICAM6.jpg"), :size => "400x300" %>
            </div>
            <div class="card-body">
              <h4 class="card-title">R5 G7</h4>
            </div>
          </div>
          <div class="card bg-light border border-0">
            <div class="text-center">
              <%= image_tag ("/home_images/ICAM7.jpg"), :size => "400x300" %>
            </div>
            <div class="card-body">
              <h4 class="card-title">R1 G3 B5</h4>
            </div>
          </div>
        </div>
        <br>
        <div class="card-deck">
          <div class="card bg-light border border-0">
            <div class="text-center">
              <%= image_tag ("/home_images/ICAM4.jpg"), :size => "400x300" %>
            </div>
            <div class="card-body">
              <h4 class="card-title">R6 G3 B7</h4>
            </div>
          </div>
          <div class="card bg-light border border-0">
            <div class="text-center">
              <%= image_tag ("/home_images/ICAM8.jpg"), :size => "400x300" %>
            </div>
            <div class="card-body">
              <h4 class="card-title">R4 G2 B10</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
