<div class='photo-edit'>
  <h4 class="border-bottom border-dark">写真編集画面</h4>
  <div class='photo-edit-elements'>
    <div class='card'>
      <%= image_tag "#{@photo.image}", :class => 'img-fluid' %>
    </div>
     <%= form_with model: @photo, local: true do |p| %>
    <div class='form-group'>
      <%= p.label :name, 'タイトル' %>
      <br>
      <%= p.text_field :title %>
    </div>
    <div class='form-group'>
      <%= p.label :name, 'コメント' %>
      <br>
      <%= p.text_area :photo_comment %>
    </div>
    <div class='form-group'>
      <%= p.label :name, 'RGB設定' %>
      <br>
      <%= p.select :rgb,[['R', 'R'], ['G', 'G'], ['B', 'B'], ['その他', 'その他']] %>
    </div>
    <%= p.fields_for :tags do |tag| %>
      <div class='form-group'>
        <%= tag.label :tag, 'タグ' %>
        <%= tag.text_field :name, class: 'form-control' %>
    <% end %>
    </div>
    <%= p.submit :class => "btn-primary"  %>
   <% end %>
  </div>
</div>
