<div class='photos-index'>
  <div class='photos-elements'>
    <div class='photos-search border-bottom mt-3'>
      <h4>投稿写真一覧</h4>
      <p class='photo-seach text-right'>
        <% if @search_word.present? && @search_word[:title_cont].present? %>
          検索結果: <%= @search_word[:title_cont] %>
        <% end %>
      </p>
    </div>
  <!-- TODO: card-deckはeachの上下に入力してないと写真一覧の形として表示されない -->
  <!-- 可能であれば、後で検証する -->
    <div class="card-deck my-5">
      <% @photos.each do |photo| %>
        <div class="card-deck">
          <div class="card">
            <%= link_to "/photos/#{photo.id}" do %>
              <%= image_tag photo.image.thumb.url %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to(photo.title, "/photos/#{photo.id}") %>
              </h4>
              <p class="card-text">
                <%= link_to(photo.user.name, "/users/#{photo.user.id}") %>
              </p>
              <p class="card-text"><%= photo.photo_comment%></p>
              <p class="card-text"><%= photo.rgb %></p>
              <% photo.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
              <div>
                <% if photo.likes.find_by(user_id: @current_user&.id) %>
                  <%= link_to("/likes/#{photo.id}/destroy", {method: "delete"}) do %>
                    <%= fa_icon 'heart' %>
                  <% end %>
                <% else %>
                  <%= link_to("/likes/#{photo.id}/create", {method: "post"}) do %>
                    <%= fa_icon 'heart'%>
                  <% end %>
                <% end %>
                <%= photo.likes.count %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @photos %>
  </div>
</div>
