<div class='photos-index'>
 <div class='photos-elements'>
  <h4 class="border-bottom border-dark">投稿写真一覧</h4>
  <!-- TODO: 画像表示は仮。後でSCSSで再設定する -->
  <% @photos.each do |p| %>
      <div class="col-md-5 col-md-3">
        <div class="card">
          <div class='photo-index-item'>
            <%= image_tag p.image.url, :size => "100x100" %>
            <br>
            <%= p.user.name %>
            <br>
            <%= p.title %>
            <br>
            <%= p.photo_comment%>
            <br>
            <%= p.rgb %>
            <br>
            <%= p.tags.name %>
            <br>
            <div td align="right">
              <%= fa_icon 'heart' %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
 </div>
</div>

<!-- 下記は検索バー、仮の表示 -->
<div class='photos-index-search'>
  <div class="border-bottom border-dark">
    <div class='photo-seach'>検索結果：花</div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#!" aria-label="Previous">
            <span aria-hidden="true">«</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#!">1</a></li>
        <li class="page-item"><a class="page-link" href="#!">2</a></li>
        <li class="page-item"><a class="page-link" href="#!">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#!" aria-label="Next">
            <span aria-hidden="true">»</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

