<!-- 新規投稿が成功するとphotos#indexに飛ぶ -->
<div class='Photos-new'>
  <h4 class="border-bottom border-dark">新規投稿</h4>
  <div class='new-elements'>
   <%= form_with model: @photo do |photo| %>
    <div><P>タイトル</P><%= photo.text_field :title %></div>
    <div><P>コメント</P><%= photo.text_area :photo_comment %></div>
    <div><p>RGB設定</p><%= photo.select :rgb_select,{R: 'R', G: 'G', B: 'B', その他: 'その他'} %></div>
    <div>
      <%= form.label :image %>
      <%= form.file_field :image, id: :photo_image %>
    </div>
    <div><%= photo.submit %></div>
   <% end %>

   
   <!--  <div class='form-group'>
      <select name= 'rgb-select'>
        <option value='R'>R</option>
        <option value='G'>G</option>
        <option value='B'>B</option>
        <option value='その他'>その他</option>
      </select> -->
      <!--下記コードではRGBを選択後dropdownに表示できない -->
      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <button type="button" class="dropdown-item" type="button">R</button>
          <a class="dropdown-item" href="#!">G</a>
          <a class="dropdown-item" href="#!">B</a>
          <a class="dropdown-item" href="#!">その他</a>
        </div>
      </div> -->
    </div>
    <div class='form-group'>
      <!-- タグは仮 -->
      <P>タグ</P>
      <input class='form-control' name='tag_text' type='text' value='テスト'>
    </div>
  </div>
</div>
