<div class='photos-show'>
  <div class='show-elements'>
    <img src="<%= "/photo_images/#{@user_posted_photos.image}" %>" width="300">
    <div class='form-group'>
      <p>コメント</p>
      <div class='photo-comment'><%= "#{@user_posted_photos.photo_comment}" %></div>
    </div>
    <div class='form-group'>
      <div class='photo-rgb'><%= "RGB設定　#{@user_posted_photos.rgb}" %></div>
    </div>
    <div class='form-group'>
      <div class='photo-tag'><%= "#{@photo_tags.name}" %></div>
    </div>
    <!-- 自身の投稿の時に編集と削除は表示される -->
    <div class='form-group' td align="right">
      <button type="button" class="btn btn-primary">編集</button>
      <!-- 削除ボタンは赤で統一するか検討中 -->
      <button type="button" class="btn btn-outline-secondary">削除</button>
    </div>
    <!-- いいね!ボタン（仮） -->
    <div class='form-group'>
      <%= fa_icon 'heart' %>
    </div>
    <div class='form-group'>
      <p>コメントする(1000字以内)</p>
      <textarea class='form-contlor' cols="40" rows="5"></textarea>
      <button type="button" class="btn btn-primary">投稿</button>
    </div>
  </div>
  <div class='user-index-item'>
    <div class='user-left'>
      <img src= "<%= "/user_images/#{@user.profile_image}" %>">
    </div>
    <div class='user-right'>
      <button type="button" class="btn btn-link">
        <span class="border-bottom"><%= "#{@user.name}" %></span>
      </button>
      <P>コメントするの内容を表示する（仮）</P>
    </div>
  </div>
  <div class='user-show-item'>
    <div class='user-left'>
      <img src= "<%= "/user_images/#{@user.profile_image}" %>">
    </div>
    <div class='user-right'>
      <button type="button" class="btn btn-link">
        <span class="border-bottom"><%= "#{@user.name}" %></span>
      </button>
    </div>
    <div class='user-photo-index'>
      <h5>その他の投稿</h5>
      <img src= "/photo_images/ICAM0006.JPG">
      <img src= "/photo_images/ICAM0011.JPG">
    </div>
  </div>
</div>







