<div class='photos-show'>
  <div class='photo-show-elements'>
    <!-- TODO: cardの大きさは後でSCSSで変更 -->
    <div class="card">
    <!-- TODO: image_tagのサイズを後で変更する -->
      <%= image_tag "#{@photo.image}", :class => 'img-fluid' %>
      <div class="card-body">
        <h4 class="card-title"><%= @photo.title %></h4>
        <p class="card-text"><%= @photo.photo_comment%></p>
        <!-- TODO: rgbは文字列のズレ直す rgbは文字色だけ青にしたいのでlinkはいらない -->
        <p class='card-title'>RGB設定<span class='btn-link'><%= @photo.rgb %></span></p>
        <div class="card-text">
          <% @photo.tags.each do |tag| %>
            <%= tag.name %>
          <% end %>
        </div>
        <div class="border-bottom"></div>
        <!-- <div td align="right">
          <%#= fa_icon 'heart' %>
        </div> -->

        <!-- TODO: fa_iconのカラー表示が機能しない（カラーは後ほど変更）、下記コードは機能しない -->
        <% if @photo.likes.find_by(user_id: @current_user.id) %>
          <%= link_to("/likes/#{@photo.id}/destroy", {method: "delete"}) do %>
            <%= fa_icon 'heart', class: "fa-red" %>
            <!-- <span class="fa fa-heart like-btn-unlike"></span> -->
          <% end %>
        <% else %>
          <%= link_to("/likes/#{@photo.id}/create", {method: "post"}) do %>
            <%= fa_icon 'heart', class: "fa-yellow" %>
            <!-- <span class="fa fa-heart like-btn-like"></span> -->
          <% end %>
        <% end %>
        <%= @photo.likes.count %>


      </div>
    </div>
  </div>
  <!-- TODO: エラーが出たが、user_edit2とともにブランチマージ後再度画面を表示する -->
  <!-- TODO: profile_imageアップロード機能実装後、サムネイル表示する（サムネイルまたはそれより小さいサイズ） -->
  <div class='photo-user-box'>
    <div class="card">
      <div class="card-body">
        <p class='pull-left'>
          <% if @photo.user.profile_image.blank? %>
            <%= image_tag "/user_images/default_user.jpg" %>
          <% else %>
            <%= image_tag @photo.user.profile_image.thumb.url %>
          <% end %>
          <%#= image_tag "/user_images/#{@user.profile_image}" %>
        </p>
        <p class='text-center'>
          <%= link_to(@photo.user.name, "/users/#{@user.id}", class: "btn btn-promary btn-lg") %>
        </p>
      </div>
    </div>
  </div>
  <br>
  <div class='user-post-photos'>
    <h5 class='border-bottom'>その他の投稿</h5>
      <% @photos.each do |p| %>
        <%= link_to("/photos/#{p.id}") do %>
          <%= image_tag p.image.thumb.url %>
        <% end %>
      <% end %>
  </div>
</div>







