<div class='photos-show'>
  <div class='photo-show-elements'>
    <div class="card">
      <!-- TODO: image_tagのサイズを後で変更する -->
        <%= image_tag "#{@photo.image}", :class => 'card-img-top' %>
        <div class="card-body">
        <h4 class="card-title"><%= @photo.title %></h4>
        <p class="card-text"><%= @photo.photo_comment%></p>
        <!-- TODO: rgbは文字列のズレ直す -->
        <p class='card-title'>RGB設定<span class='btn btn-link'><%= @photo.rgb %></span></p>
        <div class="card-text">
          <% @photo_tags.each do |tag| %>
            <%= tag.name %>
          <% end %>
        </div>
        <div class="border-bottom"></div>
        <div td align="right">
          <%= fa_icon 'heart' %>
        </div>
      </div>
    </div>
  </div>
  <!-- TODO: サイズ指定は仮。後でSCSSにて変更する -->
  <div class='photo-user-box'>
    <div class="card">
      <div class="card-body">
        <p class='pull-left'>
          <img class='img-thumbnail' src="<%= "/user_images/#{@user.profile_image}" %>" width="100px" height="100px">
        </p>
        <p class='text-center'>
          <%= link_to('@user.name', "/users/#{@user.id}", class: "btn btn-promary") %>
        </p>
      </div>
    </div>
  </div>
  <!-- TODO: 各写真をクリックでそれぞれのphoto.idに飛ばせたい（時間があればやる） -->
    <div class='user-photo-index'>
      <h5>その他の投稿</h5>
      <% @user.photos.each do |p| %>
        <%= image_tag p.image.thumb.url %>
        <%#= link_to(p.image,"/photos/#{photo.id}") %>
      <% end %>
    </div>
  </div>
</div>







