<!DOCTYPE html>
<html>
  <head>
    <title>RainbowFish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class='header-box'>
        <form class='form-inline'>
          <div class="form-group">
             <%= link_to('レインボーフィッシュ', '/about') %>
          </div>
          <div class="form-group">
              <input type="text" name="name" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary mb-2">検索</button>

          <!-- ログイン中のユーザーを表示する -->
          <% if @current_user %>
            <div class='dropdown'>
              <div class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
              </div>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <a class="dropdown-item" href="#!">user_edit</a>
                  <a class="dropdown-item" href="#!">user_show</a>
                  <a class="dropdown-item" href="#!">user-likes_photos</a>
                  <a class="dropdown-item" href="#!">photo_new</a>
                  <p class='border-bottom'></p>
                  <a class="dropdown-item" href="#!">photo_index</a>
                  <a class="dropdown-item" href="#!">user_index</a>
                  <p class='border-bottom'></p>
                  <a class="dropdown-item" href="#!">お問い合わせ</a>
              </div>
            </div>
            <%= link_to('ログアウト', "/logout",{method: :post}) %>
          <% else %>
            <%= link_to('新規登録', "/users/new") %>
            <%= link_to('ログイン', "/login") %>
          <% end %>
        </form>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class='container'>
      <%=  yield %>
    </div>
  </body>
</html>