<!DOCTYPE html>
<html>
  <head>
    <title>RainbowFish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #fbfafa;">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <div class= " h2 navbar-brand"><%= link_to('TOP', '/') %></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <p class='nav-link'><%= link_to('レインボーフィッシュとは？', "/about") %></p>
            </li>
          <% if @current_user %>
            <li class="nav-item dropdown">
              <p class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= link_to(@current_user.name) %>
              </p>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <p class='dropdown-item'><%= link_to('アカウント編集', "/users/#{@current_user.id}/edit") %></p>
                  <p class='dropdown-item'><%= link_to('投稿した写真', "/users/#{@current_user.id}") %></p>
                  <p class='dropdown-item'><%= link_to('いいね！した写真', "/users/#{@current_user.id}/likes_photos") %></p>
                  <p class='dropdown-item'><%= link_to('新規投稿', '/photos/new') %></p>
                  <div class="dropdown-divider"></div>
                  <p class='dropdown-item'><%= link_to('ユーザー一覧', '/users') %></p>
                  <p class='dropdown-item'><%= link_to('投稿写真一覧', '/photos') %></p>
                  <p class='dropdown-item'><%= link_to('退会', "/users/#{@current_user.id}/destroy_form") %></p>
                  <p class='dropdown-item'><%= link_to('お問合わせ', '/inquiry') %></p>
                </div>
            </li>
            <li class="nav-item">
              <p class='nav-link'><%= link_to('ログアウト', "/logout",{method: :post}) %></p>
            </li>
          <% else %>
            <li class="nav-item">
              <p class='nav-link'><%= link_to('新規登録', "/users/new") %></p>
            </li>
            <li class="nav-item">
              <p class='nav-link'><%= link_to('ログイン', "/login") %></p>
            </li>
            <li class="nav-item">
              <p class='nav-link'><%= link_to('投稿写真一覧', "/photos") %></p>
            </li>
            <li class="nav-item">
              <p class='nav-link'><%= link_to('お問合わせ', "/inquiry") %></p>
            </li>
          <% end %>
          </ul>
          <%= search_form_for @search do |f| %>
            <%= f.label :title_cont, '写真タイトル:', :class => "text-primary" %>
            <%= f.search_field :title_cont %>
            <%= f.submit '検索', :class => "btn-primary" %>
          <% end %>
        </div>
      </nav>
    </header>
    <% if flash[:notice] %>
      <p class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </p>
    <% end %>
    <div style="background-color: #fbfafa;">
      <%=  yield %>
    </div>

  </body>
</html>
